div { box-sizing: border-box; }

body { font-family: "Lato", sans-serif; }
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 50;
  top: 0;
  margin-left: -250px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
  .sidenav.active {
    margin-left: 0px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
   .sidenav a:hover, .offcanvas a:focus {
      text-decoration: underline #7fd721;
      color: #fff;
    }
  .closeButton {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
  }

#main {
  transition: margin-left .5s;
  padding: 16px;
}
  #main.active {
    margin-left: 250px;
  }
  .menu-burger {
    cursor: pointer;
    font-size: 40px;
    position: fixed;
    z-index: 30;
    top: 20px;
    left: 20px;
    color: #7fd721;
  }

.logo-menu {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
}

.logo-social {
     display: flex;
    align-items: center;
    margin-top: 50px;
}
